<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> BNML </h1>
			<p> Recorded May through August 2013 at Nick's place. </p>
		</div>
	</section>

	<section>
		<div class="bso-box">
			<div class="bnml-image"></div>
		</div>

		<div class="bso-box" style="flex: 1.5;">
			<h2>BNML (<b>B</b>ert ~ <b>N</b>ick ~ <b>M</b>ike ~ <b>L</b>es)</h2>
			<p>
				Since 2008, I've done a fair amount of jamming with drummer Nick Lavoritano at his place in Millington.
				In 2013, Nick and I were working with bassist Mike Luongo and keyboard player Les Long.
				That summer, we did a lot of improvisations.
			</p>
			<p>
				Here is a curated collection thereof: I picked the best, took out ugly parts, and sweetened the resulting tracks.
				No sounds were added, and except for exorcising whole sections, nothing was removed.
				The music was mostly spontaneous, with one or two exceptions.
				<i>High Chaparral</i> was "worked out" a bit.
				And there have been quite a few <i>Scandinavian Jazz Jam</i>'s.
			</p>
			<div class="bso-credits-small" style="margin-top: 20px;">
				Nick Lavoritano: drums and other percussion<br/>
				Lester Long: keyboards<br/>
				Mike Luongo: bass guitar<br/>
				Bert Olsson: guitar and a little bit of keys<br/>
			</div>
		</div>
	</section>

	<section>
		<div class="bso-box" style="margin-left: 20vw;">
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/01-businessIsBusiness.mp3"
					target="_blank" class="bso-album-track"> 1. Business is Business <span class="bso-track-time">(4:09)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/02-jakarta.mp3"
					target="_blank" class="bso-album-track"> 2. Jakarta <span class="bso-track-time">(6:18)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/03-sunRa.mp3"
					target="_blank" class="bso-album-track"> 3. Sun Ra <span class="bso-track-time">(2:01)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/04-deathMice.mp3"
					target="_blank" class="bso-album-track"> 4. Death Mice <span class="bso-track-time">(4:21)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/05-links.mp3"
					target="_blank" class="bso-album-track"> 5. Links <span class="bso-track-time">(5:20)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/06-sighs.mp3"
					target="_blank" class="bso-album-track"> 6. Sighs <span class="bso-track-time">(7:17)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/07-derek.mp3"
					target="_blank" class="bso-album-track"> 7. Derek <span class="bso-track-time">(3:09)</span></a> <br />
		</div>

		<div class="bso-box" style="margin-right: 20vw;">
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/08-rawOnions.mp3"
					target="_blank" class="bso-album-track"> 8. Raw Onions <span class="bso-track-time">(5:08)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/09-highChaparral.mp3"
					target="_blank" class="bso-album-track"> 9. High Chaparral <span class="bso-track-time">(4:14)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/10-burningSilverTrees.mp3"
					target="_blank" class="bso-album-track"> 10. Burning Silver Trees <span class="bso-track-time">(5:54)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/11-scandinavianJazzJam.mp3"
					target="_blank" class="bso-album-track"> 11. Scandinavian Jazz Jam <span class="bso-track-time">(5:23)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/12-lastLap.mp3"
					target="_blank" class="bso-album-track"> 12. Last Lap <span class="bso-track-time">(3:28)</span></a> <br />
			<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/13-raisin.mp3"
					target="_blank" class="bso-album-track"> 13. Raisin <span class="bso-track-time">(4:32)</span></a> <br />
		</div>
	</section>

	<section>
		<div class="bso-box" style="width: 80%;">
			<div class="nicks-place"></div>
		</div>
	</section>
</div>

<% include footer.ejs %>
