<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title>BNML</title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="header row">
			<div class="wider content column">
				<h1> BNML </h1>
				<h2> Recorded May through August 2013 at Nick's place </h2>
			</div>
			<div class="image column" id="bnml-title"></div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="bnml-cover"></div>
			<div class="content column">
				<h3>BNML (<b>B</b>ert ~ <b>N</b>ick ~ <b>M</b>ike ~ <b>L</b>es)</h3>
				<p>
					Since 2008, I've done a fair amount of jamming with drummer Nick Lavoritano at his place in Millington.
					In 2013, Nick and I were working with bassist Mike Luongo and keyboard player Les Long.
					That summer, we did a lot of improvisations.
				</p>
				<p>
					Here is a curated collection thereof: I picked the best, took out ugly parts, and sweetened the resulting tracks.
					No sounds were added, and except for exorcising whole sections, nothing was removed.
					The music was mostly spontaneous, with one or two exceptions.
					<i>High Chaparral</i> was "worked out" a bit.
					And there have been quite a few <i>Scandinavian Jazz Jam</i>'s.
				</p>
				<div class="credits-medium" style="margin-top: 30px;">
					Nick Lavoritano: drums and other percussion<br/>
					Lester Long: keyboards<br/>
					Mike Luongo: bass guitar<br/>
					Bert Olsson: guitar and a little bit of keys (by the way ... where <i>did</i> my QS7 go?)<br/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="content column track-col-left">
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/01-businessIsBusiness.mp3"
						target="_blank" class="album-track"> 1. Business is Business <span class="track-time">(4:09)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/02-jakarta.mp3"
						target="_blank" class="album-track"> 2. Jakarta <span class="track-time">(6:18)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/03-sunRa.mp3"
						target="_blank" class="album-track"> 3. Sun Ra <span class="track-time">(2:01)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/04-deathMice.mp3"
						target="_blank" class="album-track"> 4. Death Mice <span class="track-time">(4:21)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/05-links.mp3"
						target="_blank" class="album-track"> 5. Links <span class="track-time">(5:20)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/06-sighs.mp3"
						target="_blank" class="album-track"> 6. Sighs <span class="track-time">(7:17)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/07-derek.mp3"
						target="_blank" class="album-track"> 7. Derek <span class="track-time">(3:09)</span></a> <br />
			</div>

			<div class="content column track-col-right">
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/08-rawOnions.mp3"
						target="_blank" class="album-track"> 8. Raw Onions <span class="track-time">(5:08)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/09-highChaparral.mp3"
						target="_blank" class="album-track"> 9. High Chaparral <span class="track-time">(4:14)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/10-burningSilverTrees.mp3"
						target="_blank" class="album-track"> 10. Burning Silver Trees <span class="track-time">(5:54)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/11-scandinavianJazzJam.mp3"
						target="_blank" class="album-track"> 11. Scandinavian Jazz Jam <span class="track-time">(5:23)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/12-lastLap.mp3"
						target="_blank" class="album-track"> 12. Last Lap <span class="track-time">(3:28)</span></a> <br />
				<a href="https://s3.amazonaws.com/bso-public/mp3/Last+Summer/13-raisin.mp3"
						target="_blank" class="album-track"> 13. Raisin <span class="track-time">(4:32)</span></a> <br />
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="nicks">
				<div class="caption" id="nicks"> Nick's amazing rehearsal space, where these tracks were recorded </div>
			</div>
		</div>
	</section>
</div>

</div>		<!-- end of page -->
</body>

</html>
