<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title>Cities</title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="header row">
			<div class="wider content column">
				<h1> Cities </h1>
				<h2> Recorded at Hilltop Road between September 1987 and December 1988 </h2>
			</div>
			<div class="image column" id="cities-title"></div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="cities-cover"></div>
			<div class="text content column">
				<p>
					One day in 1987, Frank had the idea to compose an album's worth of drum box parts,
					then hand them over as the foundation of music to be subsequently produced.
					There was no coordination or discussion of what the music would sound like.
					It just had to fit over the 42 minutes of manic drum box parts.
					Those drum parts, by the way, were all written out.
					Frank showed up with like a hundred pages of hand-written sheet music.
					He then tapped these parts into a Roland TR-505 drum box.
					Crazy.
				</p>

				<p>
					This music was produced on the venerable Tascam 22-4, with three tracks of live instruments.
					Track four contained an FSK sync tone.
					On the live tracks were all the guitar parts, some real bass guitar, a few keys, and some noises.
					The FSK track provided MIDI synchronization, driving the drum box and a Yamaha QX-5 sequencer,
					which contained the MIDI data for most of the keyboard parts.
					Thus, most of the keys were programmed and not played, and the Casio FZ-1 sampler was heavily used.
				</p>

				<p>
					Finally, the mix: I had no automation then (not for mixing anyway),
					and there were tons of both live and MIDI-driven parts coming at me.
					If it sounds at all coherent, it is a miracle.
				</p>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row">
			<div class="text content column">
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/1-NewYork.mp3"
							target="_blank" class="album-track"> 1. New York <span class="track-time">(5:42)</span></a>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/2-Kingston.mp3"
							target="_blank" class="album-track"> 2. Kingston <span class="track-time">(5:59)</span></a>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/3-Brasilia.mp3"
							target="_blank" class="album-track"> 3. Brasilia <span class="track-time">(3:08)</span></a>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/4-Surrey.mp3"
							target="_blank" class="album-track"> 4. Surrey <span class="track-time">(6:51)</span></a>
			</div>
			<div class="text content column">
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/5-Berlin.mp3"
							target="_blank" class="album-track"> 5. Berlin <span class="track-time">(4:48)</span></a>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/6-Sydney.mp3"
							target="_blank" class="album-track"> 6. Sydney <span class="track-time">(7:01)</span></a>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Cities/7-Capetown.mp3"
							target="_blank" class="album-track"> 7. Capetown <span class="track-time">(9:25)</span></a>
			</div>
			<div class="double text content column">
				<div class="credits-medium">
					Music written and performed by Bert Olsson.<br/>
					Rhythms written and performed by Frank Romond.
				</div>
			</div>
		</div>
	</section>
</div>

</div>		<!-- end of page -->
</body>

</html>
