<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/styles/music.css" />
	<title>Big Frontier</title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

	<% include header.ejs %>

	<div class="content">
		<section>
			<div class="header row">
				<div class="wide text content column">
					<h1> Big Frontier </h1>
					<h2> Recorded at Cedar Lane between June 1986 and January 1987 </h2>
				</div>
				<div class="image column" id="bf-title"></div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="image column" id="bf-cover"></div>

				<div class="text content column">
					<p style="margin-top: 40px; margin-bottom: 60px;"> <i>"Well the talk on the street says you might go solo...</i>" </i>

					<p>
						It was 1986.
						I had a Korg drumbox, a shiny new DX-21, and a 4-track.
						And enough free time to make this record.
					</p>
					<p>
						Yeah, the drumbox is boring.
						And the sound of the DX-21 is way too shiny.
						But this one was fun to make.
					</p>
					<p style="margin-top: 60px;">
						<i>Ice Nine</i> was pulled from a Gas Music session, and features Ray Nering on rhythm guitar ... otherwise ...
					</p>
					<div class="credits-medium" style="margin-top: 30px;">
						Written, performed, and produced by Bert Olsson
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="text content column">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/01-BigCity.mp3"
								target="_blank" class="album-track"> 1. Big City <span class="track-time">(4:47)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/02-NoEvidenceOfLife.mp3"
								target="_blank" class="album-track"> 2. No Evidence of Life <span class="track-time">(5:55)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/03-SnowOne.mp3"
								target="_blank" class="album-track"> 3. Snow One <span class="track-time">(3:01)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/04-MarchToMemphis.mp3"
								target="_blank" class="album-track"> 4. March to Memphis <span class="track-time">(5:38)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/05-ForcedReentry.mp3"
								target="_blank" class="album-track"> 5. Forced Reentry <span class="track-time">(3:09)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/06-DreamsOfGalileo.mp3"
								target="_blank" class="album-track"> 6. Dreams of Galileo <span class="track-time">(2:18)</span></a>
				</div>

				<div class="text content column">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/07-AlienBreakfast.mp3"
								target="_blank" class="album-track"> 7. Alien Breakfast <span class="track-time">(1:21)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/08-TheRussianBorderDance.mp3"
								target="_blank" class="album-track"> 8. The Russian Border Dance <span class="track-time">(2:49)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/09-ThrillOfTheChase.mp3"
								target="_blank" class="album-track"> 9. Thrill of the Chase <span class="track-time">(4:00)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/10-IceNine.mp3"
								target="_blank" class="album-track"> 10. Ice Nine <span class="track-time">(6:39)</span></a>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Big+Frontier/11-LostFrontier.mp3"
								target="_blank" class="album-track"> 11. Lost Frontier <span class="track-time">(5:37)</span></a>
				</div>
			</div>
		</section>
	</div>

</div>
</body>
</html>
