<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title> Fun With Light and Heat </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="row">
			<div class="wide text content column">
				<h1> Songs of the Last Swan </h1>
				<h2> Recorded at Tine Road between August 2007 and January 2008 </h2>
			</div>
			<div class="image column" id="fwlah-title"></div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="fwlah"></div>
			<div class="text content column">
				<p>
					These were experiments that eventually became a collection.
					Not as much guitar &mdash; lots of synths and noises and such.
					Mostly virtual instruments, a few real keyboards, and some bass guitar.
					As with <i>Songs of the Last Swan</i>, which was made at roughly the same time,
					these tracks were recorded on a Dell Pentium 4 using Tracktion software.
				</p>

				<p>
					There are videos for some of the tracks, as indicated.
				</p>

				<p>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/01-+Car+Wars.mp3" target="_blank"
									class="album-track"> 1. Car Wars <span class="track-time">(4:37)</span></a>
					<a href="https://www.youtube.com/embed/PBM9RJVDOh0" target="_blank" class="video-link">(video)</a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/02-+Jersey+Street.mp3" target="_blank"
									class="album-track"> 2. Jersey Street <span class="track-time">(3:03)</span></a>
					<a href="https://www.youtube.com/embed/N8BN1e0urag" target="_blank" class="video-link">(video)</a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/03-+Wait+Less.mp3" target="_blank"
									class="album-track"> 3. Wait Less <span class="track-time">(1:16)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/04-+Space+Erased.mp3" target="_blank"
									class="album-track"> 4. Space Erased <span class="track-time">(4:26)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/05-+Heartbreak+in+Blue.mp3" target="_blank"
									class="album-track"> 5. Heartbreak in Blue <span class="track-time">(3:09)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/06-+Mad+Circus.mp3" target="_blank"
									class="album-track"> 6. Mad Circus <span class="track-time">(2:10)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/07-+The+Wave+Song.mp3" target="_blank"
									class="album-track"> 7. The Wave Song <span class="track-time">(3:25)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/08-+Einshop.mp3" target="_blank"
									class="album-track"> 8. Einshop <span class="track-time">(4:14)</span></a>
				</p>
				<p>
					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/09-+Heavy+Cream.mp3" target="_blank"
									class="album-track"> 9. Heavy Cream <span class="track-time">(3:23)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/10-+Miss+Polywog.mp3" target="_blank"
									class="album-track"> 10. Miss Polywog <span class="track-time">(3:48)</span></a>
					<a href="https://www.youtube.com/embed/vT6mL_JKrEA" target="_blank" class="video-link">(video)</a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/11-+The+Coldest+War.mp3" target="_blank"
									class="album-track"> 11. The Coldest War <span class="track-time">(3:01)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/12-+L+A+Dreams.mp3" target="_blank"
									class="album-track"> 12. L.A. Dreams <span class="track-time">(2:13)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/13-+Titan.mp3" target="_blank"
									class="album-track"> 13. Titan <span class="track-time">(2:06)</span></a>
					<a href="https://www.youtube.com/embed/utZnVqxOIqc" target="_blank" class="video-link">(video)</a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/14-+Watch+Your+Step.mp3" target="_blank"
									class="album-track"> 14. Watch Your Step <span class="track-time">(4:45)</span></a> <br />

					<a target="_blank" class="album-track"> 15. Au Revoir, Mon Général <span class="track-time"
						href="https://s3.amazonaws.com/bso-public/mp3/Fun+With+Light+and+Heat/15-+Au+Revoir%2C+Mon+Ge%CC%81ne%CC%81ral.mp3"
					>(1:54)</span></a>
				</p>

				<div class="bso-credits-medium" style="clear: both; padding-top: 20px">
					Written, performed, and produced by Bert Olsson.
				</div>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
