<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title> Gas Music from Jupiter </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="header row">
			<div class="wider text content column">
				<h1> Art Imitates Life </h1>
				<h2> Originally recorded at Hilltop Road on New Year's Day, 1988 </h2>
			</div>
			<div class="image column" id="ail-title"></div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="ail"></div>
			<div class="text content column">
				<p>
					These tracks started out as improvised pieces, recorded in one session at Hilltop Road on New Year's Day, 1988.
					On that evening, Ray played guitar and bass, I played guitar,
					and Frank Romond and Lee Walsh manned various keyboards and drum boxes.
				</p>
				<p>
					It seems that the tracks then sat around for a while.
					Eventually, I began to rework them, finishing up in March of 1989.
					There were orginally more than 3 pieces; some were combined to create the 23 minute Goodbye Blue Monday
					(a title I gleefully copped from Vonnegut).
					Many guitar and keyboard parts were added, and many original parts were replaced.
					This resulted in understandable controversy.
				</p>
				<p>
					The original recordings were done on 4-track analog tape, and the easiest way to redo parts was to punch in, 
					and record over them.
					In retrospect, it clearly would have been better to have saved the original session.
					Still, I've always been happy with the results....
				</p>

				<div style="margin-top: 20px;">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Art+Imitates+Life/1.+Goodbye+Blue+Monday.mp3"
							target="_blank" class="album-track"> 1. Goodbye Blue Monday <span class="track-time">(23:05)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Art+Imitates+Life/2.+Metropolis.mp3"
							target="_blank" class="album-track"> 2. Metropolis <span class="track-time">(5:57)</span> </a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Art+Imitates+Life/3.+Not+from+Around+Here.mp3"
							target="_blank" class="album-track"> 3. Not From Around Here <span class="track-time">(10:17)</span> </a> <br />
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="wider text content column">
				<h1> Through the Comet's Tail </h1>
				<h2> Recorded at Cedar Lane between Halloween 1986 and New Year 1987 </h2>
			</div>
			<div class="image column" id="ttct-title"></div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="ttct"></div>
			<div class="text content column">
			<p>
				These pieces were the result of four sessions held during the holidays of 1986.
				There was a session on Halloween night, one right around Thanksgiving, a third just before Christmas,
				and the last on the second day of 1987.
				The final mix was produced on January 9th.
			</p>
			<p>
				The players were myself, Ray, and Frank.
				The pieces started out improvised, and were then refined over subsequent sessions.
			</p>

			<p>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/1.+Pods.mp3"
						target="_blank" class="album-track"> 1. Pods <span class="track-time">(6:00)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/2.+Still+We+Pursue.mp3"
						target="_blank" class="album-track"> 2. Still We Pursue <span class="track-time">(11:05)</span> </a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/3.+Submerged+Rhythm.mp3"
						target="_blank" class="album-track"> 3. Submerged Rhythm <span class="track-time">(9:18)</span> </a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/4.+Habitual+Enzymes.mp3"
						target="_blank" class="album-track"> 4. Habitual Enzymes <span class="track-time">(7:00)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/5.+Worlds+in+Motion.mp3"
						target="_blank" class="album-track"> 5. Worlds in Motion <span class="track-time">(8:53)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Through+the+Comet's+Tail/6.+Norway%3A+Land+of+Giants.mp3"
						target="_blank" class="album-track"> 6. Norway: Land of Giants <span class="track-time">(3:20)</span></a> <br />
			</p>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Return to Jernix </h1>
				<h2> Recorded at Cedar Lane on April 16, 1986 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Anywhere But Europa </h1>
				<h2> Recorded at Cedar Lane on March 1, 1986 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> No Servicable Parts </h1>
				<h2> Recorded at Cedar Lane on February 22, 1986 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> The Punk Meets the Gasfathers </h1>
				<h2> Recorded at Cedar Lane during August, 1985 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Mark of Doctor Tripod </h1>
				<h2> Recorded at Cedar Lane May 11 and June 1, 1985 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Sonic Landscapes </h1>
				<h2> Recorded at Cedar Lane November 3 and 18, 1984 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> The Jernix Gas </h1>
				<h2> Recorded at Campbell Lane between August 27 and September 1, 1984 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Last Gas Before Exit </h1>
				<h2> Recorded at Campbell Lane on April 7, April 28, and May 5, 1984 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="text content column">
				<h1> Into the Gaseous Haze </h1>
				<h2> Recorded at Campbell Lane during April 1983 </h2>
			</div>
		</div>
	</section>
</div>

</div>		<!-- end of page -->
</body>

</html>
