<header>
	<div class="title"> <a href="/"> Bert Olsson </a> </div>

	<div class="menu">
		<div class="menuitem"> <a href="/music"> Music </a></div>
		<div class="menuitem"> <a href="http://bertolsson.com/charts" target="_new"> Charts </a></div>
		<div class="menuitem"> <a href="http://bertolsson.com/tabs" target="_new"> Tabs </a></div>
		<div class="menuitem"> <a href="/Bert-Olsson-Resume.pdf" id="resume-link" target="_new"> Résumé </a></div>
	</div>
</header>
