<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/styles/home.css" />
	<title> Sven Bert Olsson -- Music, Images, Tech </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content" id="home">
	<div class="vertical-card">
		<div class="image" id="home-header-image"></div>
		<div class="description">Arts, crafts, and other oddities.</div>
	</div>

	<div class="card" id="go-to-music">
		<div class="image" id="home-music"></div>
		<div class="textbox">
			<div class="title">Music</div>
			<div class="description">Hopefully pleasing original sounds.</div>
		</div>
	</div>

	<div class="card" id="go-to-images">
		<div class="textbox">
			<div class="title">Images</div>
			<div class="description">Pictures, some that move.</div>
		</div>
		<div class="image" id="home-images"></div>
	</div>

	<div class="card" id="go-to-tech">
		<div class="image" id="home-tech"></div>
		<div class="textbox">
			<div class="title">Technology</div>
			<div class="description">That what pays the bills.</div>
		</div>
	</div>

<!--
	<a target="_new" href= "https://www.ebay.com/sch/i.html?_saslop=1&_sasl=bso2001">
		<div class="image" id="home-ebay"></div>
	</a>
-->

</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
