<!DOCTYPE html>
<html>
<head>
	<% include std-assets.ejs %>
	<title> Bert Olsson -- Music, Images, Tech </title>
	<% include std-tagmgr.ejs %>
</head>

<body>
	<div class="page">
		<% include header.ejs %>

		<div class="home-bg"> </div>
	</div>
</body>
</html>
