<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/styles/home.css" />
	<title> Sven Bert Olsson -- Music, Images, Tech </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content" id="home">
	<div class="header row">
		<div class="image column" id="home"> </div>
	</div>

	<div class="home row">
		<div class="narrow image column" id="home-music"></div>
		<div class="wider home content column" id="go-to-music">
			<h1>Music</h1>
			<h2>Hopefully pleasing original sounds.</h2>
		</div>
	</div>
	<div class="home row">
		<div class="home content column" id="go-to-images">
			<h1>Images</h1>
			<h2>Pictures, some that move.</h2>
		</div>
		<div class="image column" id="home-images"></div>
	</div>
	<div class="home row">
		<div class="image column" id="home-tech"></div>
		<div class="home content column" id="go-to-tech">
			<h1>Technology</h1>
			<h2>That what pays the bills.</h2>
		</div>
	</div>

	<div class="row">
		<div class="centered image column">
			<a target="_new" href= "https://www.ebay.com/sch/i.html?_saslop=1&_sasl=bso2001">
				<img src="/images/my-ebay.png" id="ebay"></img>
			</a>
		</div>
	</div>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
