<!DOCTYPE html>
<html>

<head>
	<title>Sven Bert Olsson -- Music, Images, Tech</title>
	<% include std-assets.ejs %>
</head>

<body>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<div class="bso-banner" id="home"></div>
		</div>
	</section>

	<section>
		<div class="bso-box">
			<a href="/music">
				<h1>Music</h1>
				<h2>Original sounds.</h2>
			</a>
		</div>
		<div class="bso-box">
			<a href="/images">
				<h1>Images</h1>
				<h2>Pictures, and pictures that move.</h2>
			</a>
		</div>
		<div class="bso-box">
			<a href="http://olsson.tech" target="_new">
				<h1>Technology</h1>
				<h2>That what pays the bills.</h2>
			</a>
		</div>
	</section>

	<section class="center">
		<div class="bso-box" id="ebay">
			<a target="_new" href= "https://www.ebay.com/sch/i.html?_nkw=&_in_kw=1&_ftrt=901&_ftrv=1&_sadis=15&_sargn=-1%26saslc%3D1&_salic=1&_fss=1&_fsradio=%26LH_SpecificSeller%3D1&_saslop=1&_sasl=bso2001&_sop=12&_dmd=1&_ipg=50&_fosrp=1">
				<img style="width: 100%;" src="/images/my-ebay.png"> </img>
			</a>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
