<!DOCTYPE html>
<html>
<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/home.css" />
	<title> Bert Olsson -- Music, Images, Tech </title>
	<% include std-tagmgr.ejs %>
</head>

<body>
	<div class="page">
		<% include header.ejs %>
		<div class="home-bg"> </div>
		<% include footer.ejs %>
	</div>
</body>
</html>
