<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/styles/music.css" />
	<title> Love and Madness </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

	<% include header.ejs %>

	<div class="content">
		<section>
			<div class="header row">
				<div class="wide content column">
					<h1> Love and Madness</h1>
					<h2> Recorded at Grandin between March 2002 and September 2004 </h2>
				</div>
				<div class="image column" id="lm-title"></div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="image column" id="lm-cover"></div>
				<div class="content column">
					<p>
						This one is appropriately named: there was a fair amount of madness here.
						This is one over-worked album.
						For some reason, I counted every day I was in the studio working on this thing.
						There were 223 such days, spread across two and a half years.
					</p>

					<p>
						There were a number of versions of this album.
						At one point, there were thirteen tracks.
						The "official" version had nine.
						It was instrumental for a while, and then it wasn't.
						I put down "guide vocals" with the idea that someone would eventually redo them.
					</p>

					<p>
						Dave Moscara came in one night and did some vocals for three tracks.
						It is unclear why, and very unfortunate that, Dave did not do vocals for the remaining tracks.
						Thus, the version presented here has Dave's very nice vocals on three tracks, and my very rough vocals on the rest.
						All the songs that were produced are included, along with a few bonuses (versions of the three Dave songs without Dave).
					</p>

					<p>
						This was also my first digital recording, using Cubase on a Dell PC.
					</p>
				</div>
			</div>
		</section>
		
		<section>
			<div class="row" id="lm-tracks">
				<div class="content column">
					<div>
						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/01+Free.mp3"
							target="_blank" class="album-track"> 1. Free <span class="track-time">(5:22)</span> </a>
						<span class="lyrics-link popmake-free-lyrics"> (lyrics) </span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/02+Quiet+Side+of+Midnight.mp3"
							target="_blank" class="album-track"> 2. Quiet Side of Midnight <span class="track-time">(5:58)</span></a>
						<span class="lyrics-link popmake-qsom-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/03-Random+Angel.mp3"
							target="_blank" class="album-track">3. Random Angel <span class="track-time">(5:26)</span></a>
						<span class="lyrics-link popmake-angel-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/04-Hearts+on+the+Run.mp3"
							target="_blank" class="album-track">4. Hearts on the Run <span class="track-time">(4:33)</span></a>
						<span class="lyrics-link popmake-hotr-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/05+Time+Won't+Mind.mp3"
							target="_blank" class="album-track">5. Time Won't Mind <span class="track-time">(6:02)</span></a>
						<span class="lyrics-link popmake-twm-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/06+Sides.mp3"
							target="_blank" class="album-track">6. Sides <span class="track-time">(3:50)</span></a>
						<span class="lyrics-link popmake-sides-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/07+Interim+Messiah.mp3"
							target="_blank" class="album-track">7. Interim Messiah <span class="track-time">(5:42)</span></a>
						<span class="lyrics-link popmake-im-lyrics">(lyrics)</span>
					</div>
				</div>

				<div class="content column">
					<div>
						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/08+Leader+No+One+Knows.mp3"
							target="_blank" class="album-track">8. Leader No One Knows <span class="track-time">(9:55)</span></a>
						<span class="lyrics-link popmake-lnk-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/09+Skies+in+Your+Eyes.mp3"
							target="_blank" class="album-track">9. Skies in Your Eyes <span class="track-time">(5:05)</span></a>
						<span class="lyrics-link popmake-siye-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/10+Heaven+Never+Seen.mp3"
							target="_blank" class="album-track">10. Heaven Never Seen <span class="track-time">(5:10)</span></a>
						<span class="lyrics-link popmake-hns-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/11+Nighttime+Calling.mp3"
							target="_blank" class="album-track">11. Nighttime Calling <span class="track-time">(5:27)</span></a>
						<span class="lyrics-link popmake-nc-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/12+April+Nine.mp3"
							target="_blank" class="album-track">12. April Nine <span class="track-time">(12:46)</span></a>
						<span class="lyrics-link popmake-a9-lyrics">(lyrics)</span> <br/>

						<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/13+Epilog.mp3"
							target="_blank" class="album-track">13. Epilog <span class="track-time">(2:40)</span></a>
						<span class="lyrics-link popmake-epilog-lyrics">(lyrics)</span>
					</div>
				</div>

				<div class="content column">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/B1+Sides+(bonus).mp3"
							target="_blank" class="album-track">14. Sides (bonus)</a>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/B2+Heaven+Never+Seen+(bonus).mp3"
							target="_blank" class="album-track">15. Heaven Never Seen (bonus)</a>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Love+and+Madness/B3+Free+(bonus).mp3"
							target="_blank" class="album-track">16. Free (bonus)</a>

					<div class="credits-medium">
						Written, performed, and produced by Bert Olsson.<br/>
						<div style="margin-top: 6px"> Special appearance by Dave Moscara. </div>
						<div style="margin-left: 40px;"> <i>Rest peacefully, my friend.</i> </div>
					</div>
				</div>
			</div>
		</section>
	</div>

</div>
</body>
</html>
