<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/styles/music.css" />
	<title> Original Music </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<div class="vertical-card">
		<div class="image" id="music-header-image"></div>
		<div class="description">Music for which I was at least partially culpable.</div>
	</div>

	<div class="card" id="go-to-c21">
		<div class="image" id="abstract-speaker"></div>
		<div class="textbox">
			<div class="title">Century 21 Music</div>
			<div class="description">A celebration of Y2K survival.</div>
		</div>
	</div>

	<div class="card" id="go-to-images">
		<div class="textbox">
			<div class="title">Images</div>
			<div class="description">Pictures, some that move.</div>
		</div>
		<div class="image" id="home-images"></div>
	</div>

	<div class="card" id="go-to-tech">
		<div class="image" id="home-tech"></div>
		<div class="textbox">
			<div class="title">Technology</div>
			<div class="description">That what pays the bills.</div>
		</div>
	</div>

<!--
	<a target="_new" href= "https://www.ebay.com/sch/i.html?_saslop=1&_sasl=bso2001">
		<div class="image" id="home-ebay"></div>
	</a>
-->

</div>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
