<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title> Original Music </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> Original Music </h1>
			<h2> Sounds that I've been somewhat responsible for producing over the years </h2>
		</div>
	</section>

	<section>
		<div class="bso-box" style="flex: .9;">
			<div class="box-image" id="sheet-music"></div>
		</div>

		<div class="bso-box">
			<h3 style="margin-top: 30px;"> RnO </h3>
			<p> Robinson and Olsson; me writing music, Rick adding lyrics and melody. </p>
			<a href="/point-me-into-the-sky" class="bso-album-link"> Point Me Into the Sky <span style="font-weight: 400;">(2010)</span></a>

			<h3 style="margin-top: 30px;"> BNML </h3>
			<p> Band rehearsal improvs, with Mike and Lester, all at Nick's place. </p>
			<a href="/last-summer" class="bso-album-link"> Last Summer <span style="font-weight: 400;">(2013)</span></a>

			<h3 style="margin-top: 30px;"> Olsson &amp; Romond </h3>
			<p> Frank wrote a bunch of impressive drumbox parts, then I added music. </p>
			<a href="/cities" class="bso-album-link"> Cities <span style="font-weight: 400;">(1988)</span></a>
		</div>
	</section>
	
	<section>
		<div class="bso-box" id="solo-recordings">
			<h3> Solo Recordings </h3>
			<p> Music made mostly by myself, in various home studios. Once two tracks on analog tape, now as many digital tracks as one wants. </p> <br />
			<a href="/songs-of-the-last-swan" class="bso-album-link"> Songs of the Last Swan <span style="font-weight: 400;">(2008)</span></a> <br />
			<a href="/fun-with-light-and-heat" class="bso-album-link"> Fun With Light and Heat <span style="font-weight: 400;">(2008)</span></a> <br />
			<a href="/love-and-madness" class="bso-album-link"> Love and Madness <span style="font-weight: 400;">(2004)</span></a> <br />
			<a href="#" class="bso-album-link"> Now What? <span style="font-weight: 400;">(1998)</span></a> <br />
			<a href="#" class="bso-album-link"> The Jovian Conspiracy <span style="font-weight: 200; font-style: italic;">(lost album from the 90's)</span></a> <br />
			<a href="/big-frontier" class="bso-album-link"> Big Frontier <span style="font-weight: 400;">(1987)</span></a>
		</div>

		<div class="bso-box" style="flex: 2;">
			<div class="box-image" id="grandin-studio"></div>
			<div class="image-caption"> My studio at Grandin, circa 2002 </div>
		</div>
	</section>

	<section>
		<div class="bso-box" style="flex-basis: 20%;">
			<div class="providence"></div>
			<div class="prov-titles">
				<a href="/providence" class="bso-album-link"> Five <span style="font-weight: 400;">(1984)</span></a> <br />
				<a href="/providence#questions" class="bso-album-link"> Questions of Perspective <span style="font-weight: 400;">(1983)</span></a> <br />
				<a href="/providence#prophecies" class="bso-album-link"> Prophecies <span style="font-weight: 400;">(1983)</span></a> <br />
				<a href="/providence#two" class="bso-album-link"> Providence II <span style="font-weight: 400;">(1981)</span></a> <br />
				<a href="/providence#one" class="bso-album-link"> Providence I <span style="font-weight: 400;">(1980)</span></a>
			</div>
		</div>

		<div class="bso-box">
			<h3> Providence </h3>
			<p>
				I met Ray Nering in grade school when we were 12 or 14 or like that.
				Soon thereafter, we were trying to make music.
				Not many years later, we met drummer Frank Romond, and by the mid-to-late 70's, we were a band we called <i>Providence</i>.
			</p>
			<p>
				Mark Dobry soon joined as the bass player.
				Ansel Spada became the singer.
				Dana Vagovsky and Dean Rubine played keyboards on some projects.
			</p>
			<p>
				For ten years or so, we recorded lots of originals, all of them on analog tape.
				And all these guys were a big part of my life through all those years.
			</p>
		</div>
	</section>

	<section>
		<div class="bso-box" style="flex: .5;">
			<h3> Gas Music From Jupiter </h3>
			<p>
				Beginning in the late 70's, a series of rather insane improvisations took place.
				Initially, these were perpetrated by Ray Nering and myself. Frank Romond and Lee Walsh would ultimately become complicit as well.
				Many others wandered in at one time or another, lending both spiritual and musical support.
			</p>
			<p>
				Early on, Ray termed these sessions "Gas Music from Jupiter" (from the Firesign Theatre album <i>Everything You Know is Wrong</i>).
				Gas Music gatherings were a fairly regular thing throughout the 80's.
			</p>
			<p> There have been some 20 GMFJ meetings. An attempt will be made to document as many as possible. </p>
		</div>

		<div class="bso-box">
			<div class="box-image" id="gas-music"></div>
			<div class="gmfj-titles">
				<a href="/gmfj" class="bso-album-link"> Art Imitates Life <span style="font-weight: 400;">(1989)</span></a> <br />
				<a href="/gmfj#through-the-comets-tail" class="bso-album-link"> Through the Comet's Tail <span style="font-weight: 400;">(1987)</span></a>
			</div>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
