<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> Original Music </h1>
			<p> Sounds that I've been somewhat responsible for producing over the years. </p>
		</div>
	</section>

	<section>
		<div class="bso-box" style="flex: 1.25;">
			<div class="sheet-music"></div>
		</div>

		<div class="bso-box">
			<h2> RnO </h2>
			<p> Robinson and Olsson; me writing music, Rick adding lyrics and melody. </p>
			<a href="/point-me-into-the-sky" class="bso-album-link"> Point Me Into the Sky <span style="font-weight: 400;">(2010)</span></a>

			<h2> BNML </h2>
			<p> Band rehearsal improvs, with Mike and Lester, all at Nick's place. </p>
			<a href="/last-summer" class="bso-album-link"> Point Me Into the Sky <span style="font-weight: 400;">(2010)</span></a>

			<h2> Olsson &amp; Romond </h2>
			<p> Frank wrote a bunch of impressive drumbox parts, then I added music. </p>
			<a href="/cities" class="bso-album-link"> Cities <span style="font-weight: 400;">(1988)</span></a>
		</div>
	</section>
	
	<section>
		<div class="bso-box" id="solo-recordings">
			<h2> Solo Recordings </h2>
			<p> Music made mostly by myself, in various home studios. Once two tracks on analog tape, now as many digital tracks as one wants. </p> <br />
			<a href="/songs-of-the-last-swan" class="bso-album-link"> Songs of the Last Swan <span style="font-weight: 400;">(2008)</span></a> <br />
			<a href="/fun-with-light-and-heat" class="bso-album-link"> Fun With Light and Heat <span style="font-weight: 400;">(2008)</span></a> <br />
			<a href="/love-and-madness" class="bso-album-link"> Love and Madness <span style="font-weight: 400;">(2004)</span></a> <br />
			<a href="#" class="bso-album-link"> Now What? <span style="font-weight: 400;">(1998)</span></a> <br />
			<a href="#" class="bso-album-link"> The Jovian Conspiracy <span style="font-style: italics;">(lost album from the 90's)</span></a> <br />
			<a href="/big-frontier" class="bso-album-link"> Big Frontier <span style="font-weight: 400;">(1987)</span></a>
		</div>

		<div class="bso-box" style="flex: 1.3;">
			<div class="grandin-studio"></div>
		</div>
	</section>
</div>

<% include footer.ejs %>
