<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> Original Music </h1>
			<h2> Sounds that I've been somewhat responsible for producing over the years. </h2>
		</div>
	</section>
</div>

<% include footer.ejs %>
