<!DOCTYPE html>
<html>

<head>
	<title>Point Me Into the Sky</title>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
</head>

<body>
<div class="page tingle-content-wrapper">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> Point Me Into the Sky </h1>
			<p> Recorded between March and December 2010, at Tine Road and Rick's place </p>
		</div>
	</section>

	<section>
		<div class="bso-box">
			<div class="box-image" id="pmits"></div>
		</div>

		<div class="bso-box" style="flex: 1.25;">
			<h2> The Meeting </h2>
			<p>
				On the second day of 2010, I met Rick Robinson.
				We had both answered the same BandMix ad.
				On what was possibly the coldest morning ever, some people who ostensibly wished to gather and play music,
				instead met for breakfast in a Burger King.
				Granted, not a bad plan by our host: see what manner of human shows up before allowing them in your house.
				In fact, we were a benign and awkward group.
				I do recall a guy in a fedora bailing, once he realized he was one of a group of four to five guitar players,
				in a Burger King, on possibly the coldest morning ever.
			</p>

			<p>
				After a little back-and-forth, a few of us did gain entry to that guy's basement, where we played some rather uninspired covers.
				Rick and I ended up off to the side, exchanging a couple things we'd written.
				Mine was a jazzy thing that would become <i>One More Fool</i>,
				and we did a little jam off of Rick's <i>Andeline</i> (which also ended up on the album).
				There wasn't much other vibe to be found, and I thought that was that.
			</p>
		</div>
	</section>
	
	<section>
		<div class="bso-box" style="flex: 2;">
			<h2> The Process </h2>
			<p style="margin-bottom: 20px;">
				I believe, after a couple months, Rick reached out to me.
				It may have been the other way 'round.
				I may have started the music for some of these by then.  Maybe not.
				Whatever the case, we ultimately produced these tracks between March and December of 2010, and never once recorded together.
				I wrote music, organized into what felt like coherent songs, recorded draft versions, and sent them off to Rick.
				He wrote lyrics, recorded layers and layers of vocal parts, and added some guitars and live percussion.
				He then sent them back for incorporation into the master copy in Tracktion.
				Eventually, I added guitars, keys, bass, and programmed the final Groove Agent drum tracks.
				And then, at last, produced final mixes, completed nearly a year to the day removed from that cold morning ...
			</p>

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/01-one-more-fool.mp3"
							target="_blank" class="bso-album-track"> 1. One More Fool <span class="bso-track-time">(4:24)</span></a>
			<div class="bso-lyrics-link popmake-omf-lyrics"> (lyrics) </div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/02-burn-the-night-up.mp3"
							target="_blank" class="bso-album-track"> 2. Burn the Night Up <span class="bso-track-time">(5:12)</span></a>
			<div class="bso-lyrics-link popmake-btnu-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/03-how-can-i.mp3"
							target="_blank" class="bso-album-track">3. How Can I <span class="bso-track-time">(5:26)</span></a>
			<div class="bso-lyrics-link popmake-hci-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/04-andeline.mp3"
							target="_blank" class="bso-album-track">4. Andeline <span class="bso-track-time">(3:22)</span></a>
			<div class="bso-lyrics-link popmake-andeline-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/05-point-me-into-the-sky.mp3"
							target="_blank" class="bso-album-track">5. Point Me Into the Sky <span class="bso-track-time">(5:10)</span></a>
			<div class="bso-lyrics-link popmake-pmits-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/06-the-games-people-play.mp3"
							target="_blank" class="bso-album-track">6. The Games People Play <span class="bso-track-time">(4:15)</span></a>
			<div class="bso-lyrics-link popmake-tgpp-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/07-upside-down.mp3"
							target="_blank" class="bso-album-track">7. Upside Down <span class="bso-track-time">(4:31)</span></a>
			<div class="bso-lyrics-link popmake-ud-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/08-the-long-way.mp3"
							target="_blank" class="bso-album-track">8. The Long Way <span class="bso-track-time">(4:05)</span></a>
			<div class="bso-lyrics-link popmake-tlw-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/09-emily.mp3"
							target="_blank" class="bso-album-track">9. Emily <span class="bso-track-time">(4:58)</span></a>
			<div class="bso-lyrics-link popmake-emily-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/10-garden-of-stone.mp3"
							target="_blank" class="bso-album-track">10. Garden of Stone <span class="bso-track-time">(4:31)</span></a>
			<div class="bso-lyrics-link popmake-gos-lyrics">(lyrics)</div> <br />

			<a href="https://s3.amazonaws.com/bso-public/mp3/Point+Me+Into+the+Sky/11-for-liverpool-departed.mp3"
							target="_blank" class="bso-album-track">11. For Liverpool Departed <span class="bso-track-time">(5:42)</span></a>
			<br />
			<div class="bso-credits-medium" style="margin-top: 16px;">
				Lyrics by Rick Robinson<br/>
				Music by Bert Olsson (except for Rick's <i>Andeline</i>)
			</div>
			<div class="bso-credits-medium" style="margin-top: 8px;">
				Bert played guitar, keyboards, and bass, and programmed the drums.<br/>
				Rick played guitar and percussion, and sang everything.
			</div>
		</div>

		<div class="bso-box">
			<div class="box-image" id="tree"></div>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
