<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title> Providence </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="row">
			<div class="content column">
				<h1> Five </h1>
				<h2> Recorded between September and November 1984 at Earthquake Studios and Cedar Lane </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="five-cover"></div>
			<div class="content column">
				<p>
					Though we didn't know it at the time, this turned out to be the final "official" Providence recording.
					The bass, drums, and some rhythm guitars were recorded on September 8-9, 1984 at Earthquake Studios in Scotch Plains.
					Most of the guitars, the keyboards, and vocals, were added at Cedar Lane during October.
					The final mix was apparently produced in a marathon session on November 9.
				</p>

				<div style="margin-top: 20px;">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Five/1.+crumbling+walls.mp3" target="_blank" class="album-track"> 1. Crumbling Walls <span class="track-time">(5:11)</span></a>
					<span class="lyrics-link popmake-walls-lyrics"> (lyrics) </span> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Five/2.+empty+rooms.mp3" target="_blank" class="album-track"> 2. Empty Rooms <span class="track-time">(6:33)</span></a>
					<span class="lyrics-link popmake-rooms-lyrics"> (lyrics) </span> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Five/3.+life+on+the+island.mp3" target="_blank" class="album-track"> 3. Life on the Island <span class="track-time">(5:08)</span></a>
					<span class="lyrics-link popmake-island-lyrics"> (lyrics) </span> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Five/4.+four+corners.mp3" target="_blank" class="album-track"> 4. Four Corners <span class="track-time">(4:17)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Five/5.+modern+mysteries.mp3" target="_blank" class="album-track"> 5. Modern Mysteries <span class="track-time">(5:21)</span></a>
					<span class="lyrics-link popmake-mysteries-lyrics"> (lyrics) </span> <br />
				</div>

				<div class="credits-small" style="margin-top: 20px;">
					Lyrics: Tracks 1 &amp; 2, Ansel Spada; Tracks 3 &amp; 5, Bert Olsson
					<br/>
					Music by Bert Olsson
					<div style="clear: both; height: 10px;"></div>
					Mark Dobry: bass guitar<br/>
					Bert Olsson: guitar and keyboards<br/>
					Frank Romond: drums <br/>
					Ansel Spada: vocals<br/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="content column">
				<h1> Questions of Perspective </h1>
				<h2> Recorded during August and September 1983 at Campbell Lane </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="questions-cover"></div>
			<div class="content column">
				<p>
					Welcome Dean!
				</p>

				<div class="credits-small" style="margin-top: 20px;">
					Words and Music by Bert Olsson
					<div style="clear: both; height: 10px;"></div>
					Mark Dobry: bass guitar<br/>
					Bert Olsson: guitar and keyboards<br/>
					Frank Romond: drums <br/>
					Dean Rubine: keyboards <br/>
					Ansel Spada: vocals<br/>
				</div>
			</div>
		</div>
	</section>

	<section id="prophecies">
		<div class="row">
			<div class="wider content column">
				<h1> Prophecies </h1>
				<h2> Recorded between January and March 1983 at Campbell Lane </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="prophecies-cover"></div>
			<div class="content column">
				<p>
					Welcome Dana and Ansel!
				</p>

				<div style="margin-top: 20px;">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/1-one+day.mp3"
							target="_blank" class="album-track"> 1. One Day <span class="track-time">(5:41)</span></a> <br />
						
					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/2-collect+from+vienna.mp3"
							target="_blank" class="album-track"> 2. Collect From Vienna <span class="track-time">(4:53)</span></a> <br />
							
					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/3-activity.mp3"
							target="_blank" class="album-track"> 3. Activity <span class="track-time">(4:15)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/4-tables+turned.mp3"
							target="_blank" class="album-track"> 4. Tables Turned <span class="track-time">(8:19)</span></a> <br />

					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/5-raider.mp3"
							target="_blank" class="album-track"> 5. Raider <span class="track-time">(8:15)</span></a> <br />
						
					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/6-marionettes.mp3"
							target="_blank" class="album-track"> 6. Marionettes <span class="track-time">(7:15)</span></a> <br />
						
					<a href="https://s3.amazonaws.com/bso-public/mp3/Prophecies/7-seven.mp3"
							target="_blank" class="album-track"> 7. Seven Before the Seventh Eight <span class="track-time">(9:29)</span></a>
				</div>
				<br/>
				<div class="credits-medium" style="margin-top: 20px;">
					Words and Music by Bert Olsson <br />
					(except <i>Marionettes</i>, which was written by Olsson and Vagovsky) <br />
					Dana also composed the keyboard solo in <i>Seven</i>
				</div>
				<div class="credits-small" style="margin-top: 10px;">
					Mark Dobry: bass guitar<br/>
					Bert Olsson: guitar and keyboards<br/>
					Frank Romond: drums <br/>
					Ansel Spada: vocals<br/>
					Dana Vagovsky: keyboards <br/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="content column">
				<h1> Providence II </h1>
				<h2> Recorded in late 1981 </h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="content column">
				<h1> Providence </h1>
				<h2> Recorded during the winter of 1979-1980 </h2>
			</div>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
