<!DOCTYPE html>
<html>

<head>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/music.css" />
	<title> Songs of the Last Swan </title>
</head>

<body>
<% include std-tagmgr.ejs %>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="header row">
			<div class="wide text content column">
				<h1> Songs of the Last Swan </h1>
				<h2> Recorded at Tine Road between August 2007 and January 2008 </h2>
			</div>
			<div class="image column" id="swan-title"> </div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="image column" id="swan-cover"> </div>
			<div class="text content column">
				<p>
					An instrumental album intended to be sparse.
					Or as sparse as I could manage.
				</p>

				<p>
					This was the first time using only software-generated keyboard sounds.
					It was also the first appeareance of Steinberg's Groove Agent for drums.
					Otherwise, lots of Strat, some real bass guitar, all recorded using Tracktion.
				</p>

				<p>
					There are, as indicated, videos for some tracks.
				</p>
				<p style="margin-top: 20px;">
					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/1+-+Lost.mp3" target="_blank"
									class="album-track"> 1. Lost <span class="track-time">(14:43)</span></a><br/>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/2+-+Bongo+Falls.mp3" target="_blank"
									class="album-track"> 2. Bongo Falls <span class="track-time">(3:55)</span></a>
					<a href="https://www.youtube.com/embed/6MvbSeDEEDI" target="_blank" class="video-link">(video)</a><br/>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/3+-+Rain.mp3" target="_blank"
									class="album-track"> 3. Rain <span class="track-time">(7:13)</span></a><br/>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/4+-+New+Journey.mp3" target="_blank"
									class="album-track"> 4. New Journey <span class="track-time">(4:22)</span></a><br/>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/5+-+Found.mp3" target="_blank"
									class="album-track"> 5. Found <span class="track-time">(5:11)</span></a><br/>

					<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/6+-+Swans+Song.mp3" target="_blank"
									class="album-track"> 6. Swan's Song <span class="track-time">(7:59)</span></a>
					<a href="https://www.youtube.com/embed/uJopo1qYCtQ" target="_blank" class="video-link">(video)</a><br/>

					<div class="credits-medium">
						Written, performed, and produced by Bert Olsson.
					</div>
				</p>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row">
			<div class="image column" id="tine-back">
				<div class="caption" id="tine-back"> Couldn't find a photo of the Tine Road studio &mdash; here's the view out the back </div>
			</div>
		</div>
	</section>
</div>

</div>		<!-- end of page -->
</body>

</html>
