<!DOCTYPE html>
<html>

<head>
	<title>songs of the last swan</title>
	<% include std-assets.ejs %>
	<link rel="stylesheet" href="/css/swan.css" />
</head>

<body>
<div class="page">

<% include header.ejs %>

<div class="content">
	<section>
		<div class="bso-box">
			<h1> Songs of the Last Swan </h1>
			<p> Recorded at Tine Road between August 2007 and January 2008 </p>
		</div>
	</section>

	<section>
		<div class="bso-box" style="flex: 1;">
			<div class="box-image" id="swan"></div>
		</div>

		<div class="bso-box" style="flex: 1;">
			<p>
				An instrumental album intended to be sparse.
				Or as sparse as I could manage.
			</p>

			<p>
				This was the first time using only software-generated keyboard sounds.
				It was also the first appeareance of Steinberg's Groove Agent for drums.
				Otherwise, lots of Strat, some real bass guitar, all recorded using Tracktion.
			</p>

			<p>
				There are, as indicated, videos for some tracks.
			</p>
				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/1+-+Lost.mp3" target="_blank"
								class="bso-album-track"> 1. Lost <span class="bso-track-time">(14:43)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/2+-+Bongo+Falls.mp3" target="_blank"
								class="bso-album-track"> 2. Bongo Falls <span class="bso-track-time">(3:55)</span></a>
				<a href="https://www.youtube.com/embed/6MvbSeDEEDI" target="_blank" class="bso-video-link">(video)</a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/3+-+Rain.mp3" target="_blank"
								class="bso-album-track"> 3. Rain <span class="bso-track-time">(7:13)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/4+-+New+Journey.mp3" target="_blank"
								class="bso-album-track"> 4. New Journey <span class="bso-track-time">(4:22)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/5+-+Found.mp3" target="_blank"
								class="bso-album-track"> 5. Found <span class="bso-track-time">(5:11)</span></a> <br />

				<a href="https://s3.amazonaws.com/bso-public/mp3/Songs+of+the+Last+Swan/6+-+Swans+Song.mp3" target="_blank"
								class="bso-album-track"> 6. Swan's Song <span class="bso-track-time">(7:59)</span></a>
				<a href="https://www.youtube.com/embed/uJopo1qYCtQ" target="_blank" class="bso-video-link">(video)</a> <br />

				<br />

				<div class="bso-credits-medium">
					Written, performed, and produced by Bert Olsson.
				</div>
		</div>
	</section>
	
	<section>
		<div class="bso-box" style="width: 80%;">
			<div class="bso-banner" id="swan"></div>
			<div class="image-caption"> Couldn't find a photo of the Tine Road studio, but here's the view out the back. </div>
		</div>
	</section>
</div>

<% include footer.ejs %>

</div>		<!-- end of page -->
</body>

</html>
