footer
{
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	z-index: 100;
	background-color: #00699f;
}

footer .text
{
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #ffca45;
}
