section, article, aside, footer, header, nav
{
	display: block;
}

page
{
	width: 1280px;
}

body
{
	margin: 0;
	font: 16px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #444;
}

section
{
	margin-top: 30px;
}

@media (min-width: 1000px)
{
	section
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

section:first-child
{
	margin-top: 0px;
}

section.center
{
	justify-content: center;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: inherit;
}

h1
{
	color: #444;
	font-family: Open Sans, sans-serif;
	font-size: 20px;
	letter-spacing: -.6px;
	line-height: 10px;
	font-weight: 200;
}

h2
{
	color: #000;
	font-family: Oswald, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: -2px;
	margin-top: 20px;
	line-height: 14px;
}

p
{
	color: #444;
	font-weight: 300;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin-top: 8px;
	margin-bottom: 2px;
}

.content
{
	background-color: #808080;
	width: calc(100vw - 120px);
	margin: 0 auto;
	padding: 30px 0px 30px 30px;
}

.bso-medium-text
{
	color: #444;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 15px;
}

.bso-credits-large
{
	color: #222;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 18px;
}

.bso-credits-medium
{
	color: #000;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.bso-credits-small
{
	color: #444;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 14px;
}

.bso-album-link
{
	color: #222;
	font-family: HelveticaNeue, sans-serif;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
}

.bso-album-link:hover
{
	text-decoration: underline;
}

.bso-album-link:visited
{
	color: #222;
}

.bso-album-track
{
	color: #000;
	float: left;
	font-family: HelveticaNeue-UltraLight, sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-top: 4px;
}

.bso-album-track:hover
{
	color: #e08030 !important;
}

.bso-album-track:visited
{
	color: #000 !important;
}

.bso-track-time
{
	font-family: HelveticaNeue, sans-serif;
	font-size: 13px;
	font-weight: 400;
}

.bso-lyrics-link
{
	font-family: HelveticaNeue, sans-serif;
	font-size: 13px;
	cursor: pointer;
	margin-left: 6px;
	margin-top: 5px;
	color: #888440;
	float: left;
}

.bso-lyrics-link:hover
{
	color: #404060;
}

.bso-box
{
	flex: 1;
	color: #797979;
	padding: 20px 26px 20px 26px;
	margin-right: 30px;
	background-color: #dfdfdf;
	border: 1px solid transparent;
	border-radius: 4px;
}

.box-image
{
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
}

.banner
{
	width: 100%;
}
