
html { font-size: 101%; }

body {
	margin: 0;
	padding: 0;
	background-color: #2f3245;
}

a { text-decoration: none; }
a:visited { color: inherit; }

.page
{
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	font: 16px/20px HelveticaNeue-Light, Arial, sans-serif;
	font-weight: 300;
	color: #686868;
	height: 100vh;
	width: 100%;
	max-width: 1111px;
}

.content
{
	padding: 5%;
	background-color: #f3f3f3;
}

.home-bg
{
	background-image: url(/images/gbnpbc-09242015.jpg);
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
}

