header {
	padding: 1vh 0 1vh 0;
	height: 70px;
	display: flex !important;
	align-items: center;
	font-size: 191%;
	width: 100%;
	z-index: 100;
	background-color: #00699f;
}

@media (min-width: 999px) {
	header {
		padding: .5vh 0 .5vh 0;
		height: 50px;
	}
}

@media (max-width: 600px) {
	header {
		padding: 2vh 0 2vh 0;
	}
}

header .title {
	font-family: "Helvetica Neue", sans-serif;
	letter-spacing: 1px; text-transform: uppercase;
	margin-left: 4vw;
	flex: 1;
	font-size: 131%;
}

header .title a { color: #ffca45; }

header .title a:visited {
	color: #ffca45;
	text-decoration: none;
}

header .menu {
	display: flex;
	justify-content: space-around;
	padding-right: 5vw;
	flex: 2;
}

header .menu .menuitem a {
	font-family: "Open Sans", "HelveticaNeue-Medium", "Lucida Sans", Arial;
	letter-spacing: 1px;
	color: #e0e0e0;
	text-transform: uppercase;
}

header .menu .menuitem a:visited {
	color: #e0e0e0;
	text-decoration: none;
}

header .menu .menuitem:hover {
	color: white;
	cursor: pointer;
	text-decoration: underline;
}
