.bso-banner#home
{
	background-image: url(/images/gts-180312b.png);
}

.bso-image-box#ebay
{
	flex: .6px;
	background-color: #bbbbbb;
}

@media (min-width: 1000px)
{
	.bso-box#ebay
	{
		max-width: 62%;
	}
}
