.image#home
{
	background-image: url(/images/gtnpcr-09242015.jpg);
	height: 600px;
	filter: brightness(1.5);
}

img#ebay
{
	max-width: 100%;
}

.home.content.column
{
	max-width: 24%;
	cursor: pointer;
}
