
.image#home
{
	background-image: url(/images/gtnpcr-09242015b.jpg);
	background-size: contain;
	height: 192px;
}

.home.row
{
	margin-bottom: 20px;
}

.home.content.column
{
	cursor: pointer;
	padding-left: 60px;
}

.image#home-music
{
	background-image: url(/images/piano-keys.jpg);
}

.image#home-images
{
	background-image: url(/images/lens.png);
}

.image#home-tech
{
	background-image: url(/images/tech.png);
}

