#you-tube
{
	max-height: 20vh;
}

#you-tube .pic
{
	width: 100%;
	height: 100%;
}

#you-tube .text
{
	position: relative;
	margin-top: -8vh;
	margin-left: 66vw;
	color: #000;
	font-size: 18px;
	cursor: pointer;
}
