.fotorama__caption__wrap
{
	background-color: #ddd !important;
	display: none !important;	// until it looks better ....
}

.fotorama__caption
{
	position: relative !important;
	float: right !important;
	font-size: 12px !important;
}

#you-tube
{
	max-height: 30vh;
}

#you-tube .pic
{
	width: 100%;
	height: 100%;
}

#you-tube .text
{
	position: absolute;
	margin-top: -5vh;
	margin-left: 70vw;
	color: #000;
	font-size: 120%;
	cursor: pointer;
}

@media (max-width: 1000px)
{
	#you-tube .text
	{
		margin-left: 60vw;
	}
}

#you-tube a:visited
{
	color: #222;
	text-decoration: none;
}
