.fotorama__caption__wrap
{
	background-color: #ddd !important;
	display: none !important;	// until it looks better ....
}

.fotorama__caption
{
	position: relative !important;
	float: right !important;
	font-size: 12px !important;
}

.image.column#youtube
{
	background-image: url(/images/vcam-lens-6.png);
	height: 300px;
}

.image.column#youtube .caption
{
	color: #000000;
	font-family: HelveticaNeue-Medium, sans-serif;
	font-size: 92%;
}
