
/* ============== main Music page  ============== */

.bso-credits-medium
{
	color: #444;
	font-size: 85%;
	line-height: 20px;
	margin-top: 20px;
}

.bso-credits-small
{
	color: #444;
	font-size: 80%;
}

.bso-lyrics
{
	color: #222;
	font-family: "Open Sans", sans-serif;
	font-size: 85%;
	padding: 40px;
}

.bso-lyric-title
{
	color: #444;
	font-family: HelveticaNeue, sans-serif;
}

.bso-lyric-column
{
	white-space: pre;
	float: left;
	margin: 0 20px 40px 20px;
}

.bso-lyric-img
{
	width: 100%;
	height: 100%;
}

.bso-album-link
{
	color: #222;
	font-family: HelveticaNeue, sans-serif;
	font-size: 80%;
	font-weight: 600;
	cursor: pointer;
}

.bso-album-link:hover
{
	text-decoration: underline;
}

.bso-album-link:visited
{
	color: #222;
	text-decoration: none;
}

.bso-album-track
{
	color: #222;
	font-family: HelveticaNeue-UltraLight, sans-serif;
	font-weight: 600;
	font-size: 90%;
	margin-top: 4px;
}

.bso-album-track:hover
{
	color: #e08030 !important;
}

.bso-album-track:visited
{
	color: #222 !important;
	text-decoration: none;
}

.bso-track-col-left
{
	margin-left: 14vw;
}

.bso-track-col-right
{
	margin-right: 14vw;
}

@media (max-width: 1000px)
{
	.bso-track-col-left, .bso-track-col-right
	{
		margin-left: 0;
		margin-right: 0;
	}
	
	.bso-track-col-right
	{
		margin-top: -42px;
	}
}

.bso-track-time
{
	font-family: HelveticaNeue, sans-serif;
	font-size: 90%;
	font-weight: 400;
}

.bso-lyrics-link, .bso-video-link
{
	font-size: 80%;
	cursor: pointer;
	margin-left: 6px;
	margin-top: 6px;
}

.bso-lyrics-link
{
	color: #888440;
}

.bso-lyrics-link:hover
{
	color: #404060;
	text-decoration: underline;
}

.bso-video-link
{
	color: #555111;
}

.bso-video-link:hover
{
	color: #444000;
	text-decoration: underline;
}

.bso-video-link:visited
{
	color: #444000;
	text-decoration: none;
}

/* ============== main Music page  ============== */

.box-image#sheet-music
{
	background-image: url(/images/music.jpg);
}

.box-image#grandin-studio
{
	background-image: url(/images/grand-studio.jpg);
	max-width: 80%;
}

.image-caption#grandin-studio
{
	margin-top: -30px;
	margin-left: 40px;
	color: #ccc;
}

#solo-recordings a
{
	line-height: 30px;
}

.box-image#gas-music
{
	background-image: url(/images/jupiter-juno.jpg);
	transform: scaleX(-1);
	height: 55vh;
}

.gmfj-titles
{
	position: absolute;
	margin-top: -8vh;
	margin-left: 2vw;
}

.providence
{
	background-image: url(/images/tape1.jpg);
	background-size: cover;
	height: 30vh;
	width: 80vw;
	flex-basis: 25%;
}

.prov-titles
{
	position: absolute;
	margin-top: -18vh;
	margin-left: 2vw;
}

.gmfj-titles a, .prov-titles a
{
	color: #eee;
}

.gmfj-titles a:visited, .prov-titles a:visited
{
	color: #eee;
	text-decoration: none;
}

@media (min-width: 1000px)
{
	.gas-music
	{
		height: 100%;
		width: 40vw;
	}

	.providence
	{
		height: 100%;
		width: 50vw;
	}
}

/* ============== Big Frontier ============== */

.box-image#bf-cover
{
	background-image: url(/images/bf-cover.jpg);
	height: 60vh;
}

/* ============== BNML ============== */

.box-image#bnml
{
	background-image: url(/images/bnml-cover1-1.jpg);
}

.bso-banner#bnml
{
	background-image: url(/images/nicks.jpg);
}

/* ============== Cities ============== */

.box-image#cities
{
	background-image: url(/images/cities-cover.jpg);
	height: 65vh;
}

/* ============== FWLaH ============== */

.box-image#fwlah
{
	background-image: url(/images/fwlah-cover.png);
	height: 60vh;
}

.bso-banner#fwlah
{
	background-image: url(/images/fwlah-3w.png);
}

/* ============== GMFJ  ============== */

.box-image#ail
{
	background-image: url(/images/ail-cover.jpg);
	height: 62vh;
}

.box-image#ttct
{
	background-image: url(/images/ttct-cover.png);
}

/* ============== Madness ============== */

.box-image#lm-cover
{
	background-image: url(/images/lm-cover.jpg);
	height: 55vh;
}

.box-image#lm-back
{
	background-image: url(/images/lm-back.jpg);
	height: 65vh;
}


/* ============== PMItS ============== */

.box-image#pmits
{
	background-image: url(/images/pmits-cover.jpg);
}

.box-image#tree
{
	background-image: url(/images/back-tree.png);
	height: 100vh;
}

/* ============== Providence ============== */

.box-image#five-cover
{
	background-image: url(/images/five-cover.png);
	background-size: 85%;
}

.box-image#questions-cover
{
	background-image: url(/images/questions.jpg);
	background-size: 85%;
	height: 55vh;
}

.box-image#prophecies-cover
{
	background-image: url(/images/prophecies.jpg);
	height: 60vh;
}

/* ============== SotLS ============== */

.box-image#swan
{
	background-image: url(/images/swan-cover.jpg);
	height: 65vh;
}

.bso-banner#swan
{
	background-image: url(/images/tine-back.png);
}
