
/* ============== main Music page  ============== */

.box-image#sheet-music
{
	background-image: url(/images/music.jpg);
}

.box-image#grandin-studio
{
	background-image: url(/images/grand-studio.jpg);
	background-position-y: -60px;
}

#solo-recordings a
{
	line-height: 30px;
}

.box-image#gas-music
{
	background-image: url(/images/jupiter-juno.jpg);
	height: 60vh;
}

.gmfj-titles
{
	position:relative;
	margin-top: -9vh;
}

#gmfj
{
	width: 20vw;
}

.providence
{
	background-image: url(/images/tape1.jpg);
	background-size: cover;
	height: 30vh;
	width: 80vw;
	flex-basis: 25%;
}

.prov-titles
{
	position:relative;
	margin-top: -18vh;
	margin-left: 2vw;
}

.gmfj-titles a, .prov-titles a
{
	color: #eee;
}

@media (min-width: 1000px)
{
	.gas-music
	{
		height: 100%;
		width: 40vw;
	}

	.providence
	{
		height: 100%;
		width: 50vw;
	}
}

/* ============== BNML ============== */

.box-image#bnml
{
	background-image: url(/images/bnml-cover1-1.jpg);
}

.bso-banner#bnml
{
	background-image: url(/images/nicks.jpg);
}

/* ============== Cities ============== */

.box-image#cities
{
	background-image: url(/images/cities-cover.jpg);
	height: 65vh;
}

/* ============== FWLaH ============== */

.box-image#fwlah
{
	background-image: url(/images/fwlah-cover.png);
	height: 65vh;
}

.bso-banner#fwlah
{
	background-image: url(/images/fwlah-3w.png);
}

/* ============== LaM ============== */

.box-image#lm-cover
{
	background-image: url(/images/lm-cover.jpg);
}

.box-image#lm-back
{
	background-image: url(/images/lm-back.jpg);
	height: 65vh;
}


/* ============== PMItS ============== */

.box-image#pmits
{
	background-image: url(/images/pmits-cover0.jpeg);
}

.box-image#tree
{
	background-image: url(/images/back-tree.png);
	height: 100vh;
}

/* ============== SotLS ============== */

.box-image#swan
{
	background-image: url(/images/swan-cover.jpg);
	height: 65vh;
}

.bso-banner#swan
{
	background-image: url(/images/tine-back.png);
}
