footer
{
	width: 100%;
	text-align: center;
	padding: .6vh 0;
	z-index: 100;
	background-color: #00699f;
	box-sizing: border-box;
}

footer .text
{
	font-family: "Helvetica Neue-Light", sans-serif;
	font-size: 1.8rem;
	color: #ffca45;
}
