

	/* Global HTML refinements */

html
{
	font-family: HelveticaNeue, Arial, sans-serif;
        font-size: calc( .8vh + (100vw / 60) / 10 );
}

body
{
	margin: 0;
        height: 100%;
	color: #686868;
	background-color: #bbbbbb;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: inherit;
}

h1
{
	color: #222;
	font-size: 3rem;
	font-weight: 500;
	text-shadow: 0.1px 0.1px 0.1px #777;
}

h2
{
	color: #666;
	font-family: HelveticaNeue, sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

h3
{
	color: #444;
	font-size: 2rem;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
}

	/* Layout: page, content, rows, columns */
.page
{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.content
{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	font-size: 2rem;
	background-color: #bbbbbb;
	padding: 8vh 4vw 2vh 4vw;
}

.row
{ 
        display: flex;
	width: 80vw;
}

/* Global "application" CSS */

.content .card, .content .vertical-card
{
	background-color: #dfdfdf;
	cursor: pointer;
	height: 12vh;
}

.content .vertical-card
{
	height: 16vh;
}

.image
{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

.title
{
	color: #171717;
	font-family: HelveticaNeue-Medium, Impact, sans-serif;
}

.description
{
	color: #666;
	text-align: center;
	font-family: HelveticaNeue, Impact, sans-serif;
}
						/* Note: card details for the home page are altered a bit in home.css */
.card .image
{
	float: right;
	width: 33%;
}

.vertical-card .image
{
	width: 100%;
	height: 72%;
}

.card .textbox
{
	float: left;
	width: 62%;
	margin: 2vh 1vw 2vh 1vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-sizing: border-box;
}

.card .title
{
	font-size: 2.8rem;
}

.vertical-card .title
{
	width: 100%;
	text-align: center;
	font-size: 3rem;
}

.card .title.small
{
	font-size: 2.2rem;
}

.card .description
{
	color: #666;
	font-size: 2rem;
	line-height: 2.8rem;
	margin-top: .8vh;
	text-align: center;
}

.vertical-card .description
{
	font-family: HelveticaNeue-Medium, sans-serif;
	font-size: 2.2rem;
	padding: 1vh 4vw 1vh 4vw;
}

.card .description.small
{
	font-size: 1.8rem;
}

.caption
{
	margin-right: 10px;
	color: #efefef;
	text-shadow: 1px 1px 1px #000000;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 90%;
}
