

	/* Global HTML refinements */

html
{
	font-family: HelveticaNeue-Light, Arial, sans-serif;
        font-size: calc( 1vh + (100vw / 60) / 10 );
}

body
{
	margin: 0;
        height: 100%;
	color: #686868;
	background-color: #bbbbbb;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: inherit;
}

h1
{
	color: #222;
	font-size: 3rem;
	font-weight: 500;
	text-shadow: 0.1px 0.1px 0.1px #777;
}

h2
{
	color: #666;
	font-weight: 400;
	font-size: 2rem;
}

h3
{
	color: #444;
	font-size: 2rem;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
}

	/* Layout: page, content, rows, columns */

.page
{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.content
{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	font-size: 2rem;
	background-color: #bbbbbb;
	padding: 6vh 2vw 6vh 2vw;
}

.row
{ 
        display: flex;
	width: 80vw;
}

/* Global "application" CSS */

.content .card
{
	background-color: #dfdfdf;
	cursor: pointer;
}

.card .image
{
	float: left;
	width: 59%;
	height: 18vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card .textbox
{
	float: left;
	width: 39%;
	height: 60%;
	margin-top: 4vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-sizing: border-box;
}

.card .title
{
	height: 50%;
	color: #444;
	font-family: HelveticaNeue-Medium, Impact, sans-serif;
	font-size: 3.2rem;
}

.card .description
{
	color: #666;
	font-weight: 400;
	font-size: 2rem;
	text-align: center;
}

.caption
{
	margin-right: 10px;
	color: #efefef;
	text-shadow: 1px 1px 1px #000000;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 90%;
}

.banner
{
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
}
