header
{
	padding: 2rem 0 2rem 4rem;
	position: fixed;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	z-index: 100;
	background-color: #00699f;
	box-sizing: border-box;
}

header .title
{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
	white-space: nowrap;
	flex: 2;
}

header .title a
{
	color: #ffca45;
}

a:visited
{
	color: #ffca45;
}

#burger-box
{
	cursor: pointer;
}

#trigger, #burger, #burger:before, #burger:after
{
	position: absolute;
	top: 2.4rem;
	right: 2rem;
	background: #ffca45;
	width: 5rem;
	height: .5rem;
	transition: .2s ease;
	cursor: pointer;
	z-index: 1;
}

#trigger
{
	height: 4rem;
	background: none;
}

#burger:before, #burger:after
{
	content: " ";
	top: 20px;
	left: 0;
}

#burger:after { top: 40px; }

#menu
{
	position: absolute;
	top: 7.5rem;
	right: 0;
	margin: 0; padding: 0;
	width: 30rem;
	height: fit-content;
}

#menu-toggle:checked + #trigger ~ #menu > li, a
{
	display: block;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked
{
	display: none;
}

#menu > li, #menu > a
{
	color: #ffca45 !important;
	font: 2.2rem "HelveticaNeue-Light", sans-serif;
	line-height: 6rem;
	text-decoration: none !important;
	text-transform: uppercase;
	list-style: none;
	background-color: #252d41;
	outline: 0;
	display: none;
}

#menu > li
{
	width: 30rem;
	text-align: center;
}

#menu > li:hover
{
	display: block;
	background-color: #454d61;
	transition: all .5s;
}
