
.image#home
{
	background-image: url(/images/lakemcd-07232015.png);
	background-position-y: 70%;
	background-size: 100%;
	height: 10vh;
}

.image#home-music
{
	background-image: url(/images/studio-1.jpg);
}

.image#home-images
{
	background-image: url(/images/lens.png);
}

.image#home-tech
{
	background-image: url(/images/tech.png);
}

.image#home-ebay
{
	background-image: url(/images/my-ebay.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-positions: 50%;
	height: 90px;
	cursor: pointer;
}
