.content#home .card .image
{
	float: left;
	width: 60%;
	height: 18vh;
}

.content#home .card .textbox
{
	float: left;
	width: 40%;
	height: 60%;
	margin: 0;
	margin-top: 5vh;
}

.content#home .card .title
{
	height: 50%;
	color: #444;
	font-family: HelveticaNeue-Medium, Impact, sans-serif;
	font-size: 3.2rem;
}

.content#home .card .description
{
	color: #666;
	font-weight: 400;
	font-size: 2rem;
}

.image#home
{
	background-image: url(/images/lakemcd-07232015.png);
	background-position-y: 70%;
	background-size: 100%;
	height: 10vh;
}

.image#home-music
{
	background-image: url(/images/studio-1.jpg);
}

.image#home-images
{
	background-image: url(/images/lens.png);
}

.image#home-tech
{
	background-image: url(/images/tech.png);
}

.image#home-ebay
{
	background-image: url(/images/my-ebay.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-positions: 50%;
	height: 90px;
	cursor: pointer;
}
